body {
  background-color: #2EB086;
  background-image:url("image/food-bg.png");
}
i {
  position: fixed;
  right:1.25rem;
  bottom:1.25rem;
  font-size: 1rem;
  text-align: center;
  background-color: #E9EFC0;
  opacity: 0.8;
  z-index: 1;
}
a {
  color:black;
  font-family: 'Permanent Marker','Ma Shan Zheng', cursive;
}
a:hover {
  color:#658525;
}

h1 {
  text-align: center;
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
  font-size: 3rem;
font-family: 'Permanent Marker','Ma Shan Zheng', cursive;
color: rgba(97, 65, 36, 0.9);
}
h2{
    font-size: 2rem;
  font-family: 'Permanent Marker','华文行楷', cursive;
}
h3 {
    font-family: 'Permanent Marker','华文行楷', cursive;
}
p {
  font-size: 1.2rem;
  font-family: "华文雅黑", "Times New Roman",serif;
}
hr {
  border: none;
  border-top-style: dotted;
  border-color: #FFE162;
  width: 80%;
  border-width: 0.5rem;
  margin: 1.8rem auto;
  height: 0;
  background-color: transparent;
}
.container-fluid{
  align-items: center;
  padding:3em 3em 3em;
}
.seperatePart{
  background-color: rgba(116,180,155,0.7);
      border-radius: 1.6rem;
        margin: 1.8rem 0;
}

.whole {
  margin:0 4em;
    border-radius: 1.6rem;
    /* border-style: none dashed;
    border-color: #74B49B;
    border-width: thick; */
}

.contentDiv{
  background-color: #E9EFC0;
  border-radius: 1.6rem;
  padding:0.6rem;
  margin-right: 3.1rem;
}
.carouselDiv{
  background-color: #E9EFC0;
  border-radius: 1.6rem;
  padding:1.2rem;
  margin:1.6rem 1.25px 4.4rem;
}
.carousel{
margin:0.8rem 0 0.6rem;

}
.carouselImg{
  height:21rem;
}
div.title-container {
  padding:0;
}
.content-container {
  padding-top: 5rem;
  padding-bottom: 7.5px;
  /* background-image: -webkit-linear-gradient(45deg, #74B49B 50%, #A7D7C5 50%); */
  border-bottom-style: dashed;
  border-color: #74B49B;
  border-width: thick;
}
.content h1 {
  transform: rotate(2deg);
}

.project-pic {
  height: 20rem;
}
